body {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
}

.page {
  margin: 0 auto;
  max-width: 800px;
  background: linear-gradient(
    106.5deg,
    rgba(255, 215, 185, 0.91) 23%,
    rgba(223, 159, 247, 0.8) 93%
  );
  border-style: groove;
  border-color: #e84a5f;
  border-radius: 50px;
  box-shadow: 5px 5px 3px 0px rgba(226, 21, 141, 0.5);
}

h1 {
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
  text-align: center;
  text-shadow: 0 3px 8px #8d1054;
  color: #8d1054;
  background-color: rgb(247, 241, 157);
  box-shadow: 3px 3px 3px 0 rgba(101, 87, 4, 0.6);
  border-radius: 10px;
  padding: 1px 5px 10px 5px;
  margin: 10px 50px 35px 50px;
}

h2 {
  font-size: 40px;
  font-family: fantasy;
  text-align: center;
  text-shadow: 5px 5px #1c0330;
  color: #9d53c3;
  border: 2px #040404;
  margin-top: 0;
}

h3 {
  font-size: 25px;
  font-family: fantasy;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
  color: #142d4c;
  margin-bottom: 0;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100px;
  padding: 0 10px;
}

.img-1 {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  max-height: 70%;
  border: 3px solid rgb(136, 28, 62);
  border-radius: 20px;
}

.hlist {
  font-size: 30px;
  font-weight: lighter;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  list-style: none;
  color: #8d1054;
  margin: auto;
  padding: 0;
}

.hlist li {
  display: inline;
  margin: 0 50px;
}

.hlist a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.north {
  color: rgb(8, 8, 159);
  font-weight: bold;
  text-decoration: none;
}

.west {
  color: rgb(171, 104, 10);
  font-weight: bold;
  text-decoration: none;
}

.south {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.east {
  color: brown;
  text-decoration: none;
  font-weight: bolder;
}

.p1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #6c1697;
  padding: 0 25px;
}

.box {
  width: 20%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #430463;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #040404;
  padding: 10px 5px;
  margin: 25px auto;
  transition-duration: 0.4s;
}

.box:hover {
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  text-decoration: underline;
}

.box a {
  color: #66053a;
  text-decoration: none;
}

button {
  display: block;
  margin: 25px auto;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  color: #8d1054;
  background: rgb(249, 206, 255);
  border-color: #8d1054;
  border-bottom-color: #cb7bc6;
  border-right-color: #9d53c3;
  border-radius: 35px;
  box-shadow: 2px 3px 4px 2px rgba(95, 1, 59, 0.2);
  transition: all 100ms ease-in-out;
}

button:hover {
  background: #eabfff;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 15px 25px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.sns {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.sns a {
  text-decoration: none;
  color: black;
}

.sns a:hover {
  text-decoration: underline;
}

.sns span {
  color: #8d1054;
}

.footer {
  font-size: 14px;
  font-family: monospace;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 18px;
}
